<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bookStore.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Sofia"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Tutor Finder</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/api/tutors/list">Hire Tutor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/books/books">Book Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/users/login">Logout</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container-fluid header">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Book Store</h1>
              <p class="lead">Buy books from here</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="search" class="container-fluid">
      <div class="row">
        <div class="col-6 d-flex flex-row">
          <div class="container-fluid">
            <a class="btn btn-primary" href="cart">Check Cart</a>
          </div>
          <div class="container-fluid">
            <a class="btn btn-primary" href="add">Add Book</a>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group mt-2">
            <input
              type="text"
              class="form-control me-5"
              placeholder="Search Book"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-outline-secondary me-5"
              type="button"
              id="button-addon2"
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container-fluid d-flex flex-wrap justify-content-center">
        <% books.forEach(book => { %>
        <div class="card" style="width: 20rem">
          <img
            id="image"
            src="<%= book.image %>"
            class="card-img-top"
            alt="pic"
          />
          <div class="card-body">
            <h5 class="card-title"><b><%= book.name %></b></h5>
            <p class="card-text"><%= book.author %></p>
            <p class="card-text">PKR <%= book.price %></p>
            <div class="container-fluid">
              <% if (userType=='tutor') { %>
              <input
                class="btn btn-primary"
                type="button"
                value="Edit"
                onclick="location.href='/api/books/edit/<%= book._id %>'"
              />
              <a class="btn btn-danger" href="/api/books/delete/<%=book._id%>"
                >Delete</a
              >
              <% } else{%>
              <input
                class="btn btn-primary"
                type="button"
                value="Add to Cart"
                onclick="location.href='/api/books/cart/<%= book._id %>'"
              />
              <%}%>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <footer>
      <div class="footer container-xxl">
        <div class="row">
          <div class="col-md-3 follow">
            <h3>Tutor Finder</h3>
            <div class="icon">
              <a
                class="a shadow-lg mb-2 rounded"
                rel="noreferrer"
                href="https://instagram.com/m_ahmad1023?igshid=YmMyMTA2M2Y="
                target="_blank"
                ><i class="fa fa-instagram"></i
              ></a>
              <a
                class="a shadow-lg mb-2 rounded"
                rel="noreferrer"
                href="https://linkedin.com/in/muhammad-ahmad-5479241b0"
                target="_blank"
                ><i class="fa fa-linkedin"></i
              ></a>
              <a
                class="a shadow-lg mb-2 rounded"
                rel="noreferrer"
                href="https://github.com/muhammadAhmad10"
                target="_blank"
                ><i class="fa fa-github"></i
              ></a>
              <a
                class="a shadow-lg mb-2 rounded"
                rel="noreferrer"
                href="https://twitter.com/ahmaddevtobe"
                target="_blank"
                ><i class="fa fa-twitter"></i
              ></a>
            </div>
          </div>

          <div class="col-md-3 services">
            <h3>Services</h3>
            <ul class="service">
              <li><a href="#">Find a Tutor</a></li>
              <li><a href="#">Become a Tutor</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>About Us</h3>
            <p>Your website's brief description and purpose goes here.</p>
          </div>
          <div class="col-md-3 contact">
            <h3>Contact Us</h3>
            <ul class="address">
              <li>123 Main Street, City</li>
              <li>Phone: 555-555-5555</li>
              <li>Email: info@yourwebsite.com</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="text-center copyright">
          Copyright &copy; - All Rights Reserved
        </p>
      </div>
    </footer>
  </body>
</html>
